<footer class="py-3">
  <div class="container">
    <div class="row">
      <div class="col-xl-8">
      </div>
      <div class="col-xl-4">
        <p>
          This Systems Encyclopedia is a project to curate the best foundational systems knowledge in a
          simple, sharable resource to help deepen the understanding of systems concepts.      
        </p>
        <p>
          All content, including graphics, are completely open-access under the
          <a href="https://creativecommons.org/licenses/by-nc/4.0/">Creative Commons BY-NC-SA 4.0 International</a>
          license.  This means you are free to copy and redistribute the material in any medium or format
          and to remix, transform, and build upon the material, so long as you give appropriate credit,
          not use the material for commercial purposes, and distribute your contributions under the same license
          as the original.
        </p>
      </div>
    </div>
  </div>
</footer>
